<div>
    <form action="/create" method="post" enctype="multipart/form-data">
        <h1>New Arrangement</h1>
        Arrangement Name <br>
        <input type="text" name="name" value=""> <br> <br>
        Arrangement Description: <br>
        <input type="text" name="description" value=""> <br> <br>
        Image:<br>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg"> <br> <br>
        <input type="submit" value="Submit"> <br> <p> </p>
    </form> 
</div>