<div>
    <form action="/create-user" method="post" enctype="multipart/form-data">
        <h1>Create User</h1>
        Username: <br>
        <input type="text" name="username" value=""> <br> <br>
        Temp Password: <br>
        <input type="text" name="password" value=""> <br> <br>
        Confirm Temp Password: <br>
        <input type="text" name="passwordConfirm" value=""> <br> <br>
        User Type:<br>
        <input type="radio" name="userType" value="Employee" checked> Employee<br> 
        <input type="radio" name="userType" value="Admin"> Admin<br> <br>
        <input type="submit" value="Submit"> <br> <p> </p>
    </form> 
</div>