<div>
    <form action="/login" method="post" enctype="multipart/form-data">
        <h1>Login</h1>
        Username: <br>
        <input type="text" name="username" value=""> <br> <br>
        Password: <br>
        <input type="text" name="password" value=""> <br> <br>
        <input type="submit" value="Submit"> <br> <p> </p>
    </form> 
</div>