<div>
    <form action="/update-password" method="post" enctype="multipart/form-data">
        <h1>Update Password</h1>
        Current Password: <br>
        <input type="text" name="currentPassword" value=""> <br> <br>
        New Password: <br>
        <input type="text" name="newPassword" value=""> <br> <br>
        Confirm New Password: <br>
        <input type="text" name="passwordNewConfirm" value=""> <br> <br>
        <input type="submit" value="Submit"> <br> <p> </p>
    </form> 
</div>