<div>
    <form action="/update-user" method="post" enctype="multipart/form-data">
        <h1>Update Users</h1>
        User to update: <br>
        <input type="text" name="username" value=""> <br> <br>
        New User Type:<br>
        <input type="radio" name="userType" value="Employee" checked> Employee<br> 
        <input type="radio" name="userType" value="Admin"> Admin<br> <br>
        <input type="submit" value="Submit"> <br> <p> </p>
    </form> 
</div>